In [495]:
import pandas as pd

# Read the CSV file into a DataFrame
recent_rent = pd.read_csv('../../data/landing/2024_rent.csv')
history_rent = pd.read_csv('../../data/landing/history_rent.csv')
postcode = pd.read_csv('../../data/raw/external/australian_postcodes.csv')

# Merge historical data and recent data together

In [496]:
# Splitting the 'Location' column by '-' and expanding it into multiple rows
history_rent = history_rent.assign(Location=history_rent['Location'].str.split('-')).explode('Location').reset_index(drop=True)

In [497]:
history_rent = history_rent.drop(columns=['Zone'])
history_rent.head(3)

        Location  Year Month  Count  Median  Bed  Apartment
0    Albert Park  2000   Dec    369     175    1          1
1    Middle Park  2000   Dec    369     175    1          1
2  West St Kilda  2000   Dec    369     175    1          1

In [498]:
# Concatenate the two DataFrames along rows (axis=0)
rent = pd.concat([history_rent, recent_rent], ignore_index=True)

# Convert the 'Median' column to numeric (handle errors), round floats, fill NaN with a default value, then convert to integer
rent['Median'] = pd.to_numeric(rent['Median'], errors='coerce').round().fillna(0).astype(int)


# Rename Location into Suburb
rent = rent.rename(columns={'Location':'Suburb'})

# Convert 'locality' to lowercase and rename to 'Suburb'
rent.loc[:,'Suburb'] = rent['Suburb'].str.lower()

# Replace 'mt' with 'mountain' in the 'Suburb' column
rent['Suburb'] = rent['Suburb'].str.replace(r'\bmt\b', 'mount', regex=True)

# Replace 'newcombe' with 'newcomb' in the 'Suburb' column
rent['Suburb'] = rent['Suburb'].str.replace('newcombe', 'newcomb')

# Replace 'wanagaratta' with 'newcomb' in the 'Suburb' column
rent['Suburb'] = rent['Suburb'].str.replace('wanagaratta', 'wangaratta')

# Replace 'gladstone st south melbourne' with 'south melbourne' in the 'Suburb' column
rent['Suburb'] = rent['Suburb'].str.replace('gladstone st south melbourne', 'south melbourne')
rent.head(3)

          Suburb  Year Month  Count  Median  Bed  Apartment
0    albert park  2000   Dec    369     175    1          1
1    middle park  2000   Dec    369     175    1          1
2  west st kilda  2000   Dec    369     175    1          1

In [499]:
# Filter the DataFrame to keep only rows where 'State' is 'VIC'
postcode = postcode[postcode['state'] == 'VIC']
# Convert 'locality' to lowercase and rename to 'Suburb'
postcode.loc[:,'locality'] = postcode['locality'].str.lower()
postcode.rename(columns={'locality': 'Suburb'}, inplace=True)
postcode.head(3)

,id,postcode,Suburb,state,long,lat,dc,type,status,sa3,...,altitude,chargezone,phn_code,phn_name,lgaregion,lgacode,electorate,electoraterating,sed_code,sed_name
6202,4746,3000,melbourne,VIC,144.982585,-37.814437,CITY DELIVERY CENTRE,Delivery Area,Updated 17-Mar-2024 AUSPOST,20604.0,...,27.332188,V1,PHN201,North Western Melbourne,Melbourne,24600.0,Melbourne,Inner Metropolitan,24703.0,Melbourne (Northern Metropolitan)
6203,4747,3001,melbourne,VIC,144.982585,-37.814437,CITY MAIL PROCESSING CENTRE,Post Office Boxes,Updated 17-Mar-2024 AUSPOST,20605.0,...,27.332188,V1,PHN203,NaN,Melbourne,24600.0,Maribyrnong,NaN,NaN,NaN
6204,4748,3002,east melbourne,VIC,144.982585,-37.814437,CITY DELIVERY CENTRE,Delivery Area,Updated 17-Mar-2024 AUSPOST,20604.0,...,27.332188,V1,PHN201,North Western Melbourne,Melbourne,24600.0,Melbourne,Inner Metropolitan,24703.0,Melbourne (Northern Metropolitan)

In [500]:
import re


# Function to move direction (e.g., "West", "East", etc.) to the beginning of the suburb name
def move_direction_to_start(suburb):
    # Define a regex pattern to find direction words (e.g., "West", "East", "North", "South")
    direction_pattern = r'\b(west|east|north|south)\b'
    
    # Search for direction words at the end of the suburb name
    match = re.search(direction_pattern, suburb)
    
    if match:
        direction = match.group(0)
        # Remove the direction from the end and place it at the start
        suburb_without_direction = re.sub(direction_pattern, '', suburb).strip()
        return f'{direction} {suburb_without_direction}'
    
    return suburb

# Apply the function to clean suburb names in both datasets
rent['Cleaned_Suburb'] = rent['Suburb'].apply(move_direction_to_start)
postcode['Cleaned_Suburb'] = postcode['Suburb'].apply(move_direction_to_start)

# Perform the merge using the cleaned suburb names
rent = pd.merge(rent, postcode[['Cleaned_Suburb', 'postcode']], on='Cleaned_Suburb', how='left')

# Drop the helper column 'Cleaned_Suburb' if needed
rent = rent.drop(columns=['Cleaned_Suburb'])


# Display the merged data
print(rent.head())

          Suburb  Year Month  Count  Median  Bed  Apartment  postcode
0    albert park  2000   Dec    369     175    1          1    3206.0
1    middle park  2000   Dec    369     175    1          1    3206.0
2  west st kilda  2000   Dec    369     175    1          1    3182.0
3    albert park  2000   Jun    347     165    1          1    3206.0
4    middle park  2000   Jun    347     165    1          1    3206.0

In [501]:
# Replace the postcode with '3030' for the suburb 'sanctuary lakes'
rent.loc[rent['Suburb'] == 'sanctuary lakes', 'postcode'] = '3030'

# Replace the postcode with '3004' for the suburb 'cbd' and 'st kilda rd'
rent.loc[rent['Suburb'] == 'cbd', 'postcode'] = '3004'
rent.loc[rent['Suburb'] == 'st kilda rd', 'postcode'] = '3004'

# Replace the postcode with '3132' for the suburb 'yarra ranges'
rent.loc[rent['Suburb'] == 'yarra ranges', 'postcode'] = '3132'

In [502]:
# Convert 'postcode' to integer
rent['postcode'] = pd.to_numeric(rent['postcode'], errors='coerce').astype('Int64')

# Drop 'Suburb' and 'Count' columns
rent = rent.drop(columns=['Suburb', 'Count'])

# Remove duplicates
rent = rent.drop_duplicates()
rent.head(3)

   Year Month  Median  Bed  Apartment  postcode
0  2000   Dec     175    1          1      3206
2  2000   Dec     175    1          1      3182
3  2000   Jun     165    1          1      3206

In [503]:
rent = rent.drop('Month',axis=1)
rent = rent.drop_duplicates()

# Merge rent data with external data (park, school, transportation, population and income)

In [504]:
'''
park = pd.read_csv('../../data/landing/parks.csv')
# Rename POSTCODE into postcode
park = park.rename(columns={'POSTCODE':'postcode'})
# Merge the dataframes on the postcode
rent = pd.merge(rent, park, on='postcode', how='inner') 
'''

"\npark = pd.read_csv('../../data/landing/parks.csv')\n# Rename POSTCODE into postcode\npark = park.rename(columns={'POSTCODE':'postcode'})\n# Merge the dataframes on the postcode\nrent = pd.merge(rent, park, on='postcode', how='inner') \n"

In [505]:
school_recent = pd.read_csv('../../data/landing/schoolscount2023.csv')
school_past = pd.read_csv('../../data/landing/schoolscount2018.csv')

rent_recent = rent[rent['Year'] > 2018]
rent_past = rent[rent['Year'] < 2019]

# Merge the dataframes on the postcode
rent_recent = pd.merge(rent_recent, school_recent, on='postcode', how='inner') 
rent_past = pd.merge(rent_past, school_past, on='postcode', how='inner') 

# Concatenate the two DataFrames along rows (axis=0)
rent = pd.concat([rent_recent, rent_past], ignore_index=True)

In [506]:
transportation = pd.read_csv('../../data/landing/transportation.csv')

# Merge the dataframes on the postcode
rent = pd.merge(rent, transportation, on='postcode', how='inner')

In [507]:
# load population data 
population = pd.read_csv('../../data/landing/population_percent_change_2000-27.csv')

# Rename 'Postcode' column to 'postcode' and 'year' column to 'Year'
population = population.rename(columns={'Postcode': 'postcode'})

# Reshape the DataFrame using pd.melt
population = pd.melt(population, id_vars=['postcode'], var_name='Year', value_name='population')

# Convert 'year' to an integer (since it will be treated as a string after melting)
population['Year'] = population['Year'].astype(int)


rent = pd.merge(rent, population, on=['postcode','Year'], how='inner') 
rent.head(5)

,Year,Median,Bed,Apartment,postcode,Camp,Language,Primary,Secondary,Special,school_total,tram_count,bus_count,train_count,population
0,2019,370,1,1,3206,0,0,3,1,0,4,33,19,0,0.021102
1,2019,350,1,1,3206,0,0,3,1,0,4,33,19,0,0.021102
2,2019,360,1,1,3206,0,0,3,1,0,4,33,19,0,0.021102
3,2019,515,2,1,3206,0,0,3,1,0,4,33,19,0,0.021102
4,2019,500,2,1,3206,0,0,3,1,0,4,33,19,0,0.021102

In [508]:
# load income data 
income = pd.read_csv('../../data/landing/income_2000-27.csv')

# Rename 'Postcode' column to 'postcode'
income = income.rename(columns={'Postcode': 'postcode'})

# Reshape the DataFrame using pd.melt
income = pd.melt(income, id_vars=['postcode'], var_name='Year', value_name='income')

# Convert 'year' to an integer (since it will be treated as a string after melting)
income['Year'] = income['Year'].astype(int)

rent = pd.merge(rent, income, on=['postcode','Year'], how='inner') 
rent.head(5)

,Year,Median,Bed,Apartment,postcode,Camp,Language,Primary,Secondary,Special,school_total,tram_count,bus_count,train_count,population,income
0,2019,370,1,1,3206,0,0,3,1,0,4,33,19,0,0.021102,119591
1,2019,350,1,1,3206,0,0,3,1,0,4,33,19,0,0.021102,119591
2,2019,360,1,1,3206,0,0,3,1,0,4,33,19,0,0.021102,119591
3,2019,515,2,1,3206,0,0,3,1,0,4,33,19,0,0.021102,119591
4,2019,500,2,1,3206,0,0,3,1,0,4,33,19,0,0.021102,119591

In [509]:
file_path = '../../data/curated/rent.csv'

# Save the DataFrame to the specified path in CSV format
rent.to_csv(file_path, index=False)